extends template.pug 

block stylesheet
    link(rel="stylesheet", href="./../static/css/home.css")

block script
    script( defer src="./../static/js/home.js")

block logo 
    img.nav__bar--image(src="./../static/img/Spiralforge-logo.png", alt="Logo")

block content 
    //- p.links
    //-     a(href="https://github.com/A-Spiral-Forge/", target="_blank")
    //-         i.fab.fa-github
    //-     a(href="https://www.linkedin.com/in/spiralforge/", target="_blank")
    //-         i.fab.fa-linkedin 
    //-     a(href="https://stackoverflow.com/users/16887219/abhay-parihar", target="_blank")
    //-         i.fab.fa-stack-overflow 
    //-     a(href="https://twitter.com/SpiralForge_", target="_blank")
    //-         i.fab.fa-twitter 
    //-     a(href="https://www.instagram.com/spiralforge_/", target="_blank")
    //-         i.fab.fa-instagram  
    //-     a(href="https://discordapp.com/users/758892801378484234", target="_blank")
    //-         i.fab.fa-discord
    div.home__main 
        div.home__pic--bg
        div.home__pic
            img(src="./../static/img/home-pic.png", alt="Abhay Parihar")
        div.home__content
            p.home__greetings Hello World!
            p.home__name This is 
                span.home__name--span Abhay Parihar 
            p.home__work &bull; Web Developer &bull;
        a.know-me(href="/know-me") Know Me! 